* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0; }

body {
  background: #161A1F;
  color: white;
  font-family: "Inter", sans-serif; }
  body > * {
    padding: 0 16px; }

header {
  height: 88px;
  width: 100%;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .header-menu {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #1F252C;
    color: #4F94EB; }
  header .header-avatar {
    width: 32px;
    height: 32px; }

.title {
  margin: 32px 0; }

.post-content {
  border-radius: 4px 24px 24px 24px;
  padding: 4px;
  background: #1F252C; }

.author {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }

.avatar-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1F252C; }

.author-identity {
  margin-left: 12px; }
  .author-identity .username {
    font-size: 12px;
    font-weight: 600; }
  .author-identity .handle {
    font-size: 10px;
    color: #6B7785; }

.cover-container {
  border-radius: inherit; }
  .cover-container img {
    min-height: 250px;
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: inherit; }
