button {
  outline: none;
  border: none;
  font-family: inherit; }

label {
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

html,
body {
  width: 100%;
  margin: 0; }

body {
  background: #161A1F;
  color: white;
  padding-bottom: 88px;
  font-family: "Inter", sans-serif;
  touch-action: pan-y; }
  body > * {
    box-sizing: border-box;
    padding: 0 16px; }
  body.no-overflow {
    overflow: hidden; }

object {
  pointer-events: none; }

header {
  height: 88px;
  width: 100%;
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .header-menu {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background: #1F252C;
    color: #4F94EB; }
  header .header-avatar {
    border-radius: 8px;
    overflow: hidden;
    width: 32px;
    height: 32px; }

#title {
  margin: 32px 0; }

.author {
  display: flex;
  align-items: center;
  margin-bottom: 8px; }

.avatar-container {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1F252C;
  overflow: hidden; }
  .avatar-container .avatar {
    width: 100%;
    object-fit: cover;
    object-position: center; }

.author-identity {
  margin-left: 12px; }
  .author-identity .full-name {
    font-size: 12px;
    font-weight: 600; }
  .author-identity .handle {
    font-size: 10px;
    color: #6B7785; }

post-element {
  display: none; }
  post-element.populated {
    display: initial; }
  post-element.user-posted .post {
    animation: slide 0.4s ease; }

@keyframes slide {
  0% {
    transform: scaleY(0) translateX(-100%); }
  20% {
    height: 100%; }
  100% {
    transform: scaleY(1) translateX(0); } }

.post {
  border-radius: 4px 24px 24px 24px;
  padding: 8px;
  margin-bottom: 24px;
  background: #1F252C; }

.cover-container {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: inherit; }
  .cover-container img {
    min-height: 50px;
    max-height: 450px;
    min-width: 100%;
    object-fit: cover;
    scroll-snap-align: start;
    scroll-snap-stop: always; }

.post-content {
  padding: 16px; }

.metadata {
  font-size: 12px;
  color: #48515B;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .metadata .time-info {
    display: flex;
    align-items: center; }
    .metadata .time-info .since::before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 2px;
      height: 2px;
      margin: 0 16px;
      background: #48515B; }
  .metadata .image-count {
    display: flex;
    width: 50px; }
    .metadata .image-count > * + * {
      margin-left: 4px; }
    .metadata .image-count .indicator {
      height: 4px;
      flex-grow: 1;
      border-radius: 4px;
      background: rgba(79, 148, 235, 0.3);
      transition: 0.12s ease; }
      .metadata .image-count .indicator.active {
        flex-grow: 3;
        background: #4F94EB; }

.caption {
  color: #6B7785;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 24px;
  overflow-y: auto; }
  .caption .ellipses,
  .caption .hidden {
    margin-right: 4px; }
  .caption > * {
    display: inline; }
  .caption.collapsable {
    white-space: pre-wrap; }
  .caption:not(.collapsable)::after,
  .caption:not(.collapsable) .ellipses {
    display: none; }
  .caption:not(.collapsed) .ellipses {
    display: none; }
  .caption.collapsed .hidden {
    display: none; }
  .caption.collapsed::after {
    content: "Read More"; }
  .caption:empty {
    display: none; }
  .caption::after {
    font-size: 12px;
    font-weight: 500;
    content: "Read Less";
    color: #4F94EB; }

.actions {
  display: flex; }
  .actions .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #48515B; }
    .actions .action:first-child {
      margin-right: 6px; }
    .actions .action:last-child {
      margin-left: auto; }
    .actions .action .action-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: #161A1F; }
    .actions .action::after {
      content: attr(data-count);
      font-size: 12px;
      font-weight: 500;
      margin-top: 8px;
      text-align: center; }

.likes.liked {
  color: #EC6363; }
  .likes.liked .action-button {
    background: #EC6363;
    color: white; }
    .likes.liked .action-button object {
      filter: brightness(3); }

#upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  margin: auto;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(79, 148, 235, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 1; }

#modalsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: #00000050;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 2; }
  #modalsContainer.active {
    display: flex; }

.modal {
  position: relative;
  display: none;
  box-sizing: border-box;
  width: 90vw;
  padding: 24px 16px;
  border-radius: 24px;
  background: #1F252C; }
  .modal.modal-active {
    display: block; }
  .modal .modal-button {
    transition: 0.16s ease;
    transform: scale(1);
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    border-radius: 8px;
    color: white;
    background: #4F94EB; }
    .modal .modal-button:disabled {
      transform: scale(0.96);
      background: #161A1F;
      color: #48515B; }

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px; }
  .modal-header .modal-title {
    font-size: 24px;
    font-weight: 600; }
  .modal-header .modal-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 16px;
    border-radius: 50%;
    background: #161A1F; }

#createPost .caption-input {
  overflow-y: auto;
  max-height: 200px;
  font-size: 14px;
  padding: 8px 0px;
  color: #DCE6F2; }

#createPost .caption-input:empty::before {
  font-style: italic;
  content: "What do you want to say?";
  color: #6B7785; }

#createPost .caption-input:focus {
  outline: none; }

#previewPost {
  padding: 12px 8px;
  transition: 0.32s ease;
  animation-delay: 2s; }
  #previewPost .caption {
    max-height: 400px;
    overflow-y: auto; }
  #previewPost.dragging {
    transition: none; }
  #previewPost:hover {
    cursor: grab; }
  #previewPost:active {
    cursor: grabbing; }
  #previewPost::before, #previewPost::after {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 12px;
    font-weight: 600; }
  #previewPost::before {
    top: -32px;
    content: "Swipe Up to Publish"; }
  #previewPost::after {
    bottom: -32px;
    content: "Swipe Down to Edit"; }

.post-preview .cover-container {
  border-radius: 16px; }

.post-preview .caption {
  margin-bottom: 0; }

.attachments-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 12px; }
  .attachments-container .attachment,
  .attachments-container .attach {
    min-width: 88px;
    width: 88px;
    height: 88px;
    border-radius: 16px; }
  .attachments-container .attachment {
    overflow: hidden;
    background: #161A1F;
    margin-right: 6px; }
    .attachments-container .attachment img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%; }
  .attachments-container .attach {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px dashed #6B7785; }
    .attachments-container .attach input[type="file"] {
      display: none;
      box-sizing: border-box; }
