// Colour Palette
$primary-color: #161A1F;
$secondary-color: #1F252C;

$primary-text-color: white;
$secondary-text-color: #DCE6F2;
$tertiary-text-color: #6B7785;
$quinary-text-color: #48515B;

$casual-blue: #4F94EB;
$love-red: #EC6363;