@import './overwrites';
@import './resets';
@import './variables';

@function opacity($hex, $opacity) {
  @return rgba($hex, $opacity)
}

html,
body {
  width: 100%;

  margin: 0;
}

body {
  background: $primary-color;
  color: $primary-text-color;

  padding-bottom: 88px;

  font-family: "Inter", sans-serif;

  & > * {
    box-sizing: border-box;
    padding: 0 16px;
  }

  &.no-overflow {
    overflow: hidden;
  }
}

header {
  height: 88px;
  width: 100%;

  padding-top: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  $innerSize: 32px;

  .header-menu {
    width: $innerSize;
    height: $innerSize;
    
    border-radius: 8px;
  
    background: $secondary-color;
    color: $accent-color;
  }

  .header-avatar {
    width: $innerSize;
    height: $innerSize;
  }
}

#title {
  margin: 32px 0;
}

.author {
  display: flex;
  align-items: center;
  
  margin-bottom: 8px;
}

.avatar-container {
  width: 32px;
  height: 32px;
  
  border-radius: 50%;
  background: $secondary-color;
}

.author-identity {
  margin-left: 12px;
  
  .username {
    font-size: 12px;
    font-weight: 600;
  }
  
  .handle {
    font-size: 10px;
    color: $tertiary-text-color;
  }
}

.post {
  border-radius: 4px 24px 24px 24px;
  padding: 8px;

  margin-bottom: 24px;

  background: $secondary-color;
}

.cover-container {
  border-radius: inherit;
  
  img {
    min-height: 250px;
    max-height: 450px;

    width: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.post-content {
  padding: 16px;
}

.metadata {
  font-size: 12px;
  color: $quinary-text-color;

  display: flex;
  align-items: center;

  margin-bottom: 24px;

  .since {
    &::before {
      display: inline-block;
      vertical-align: middle;

      content: "";

      width: 2px;
      height: 2px;

      margin: 0 16px;

      background: $quinary-text-color;
    }
  }
}

.caption {
  color: $tertiary-text-color;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 24px;

  &.overflow::after {
    font-size: 12px;
    font-weight: 500;
    margin-left: 8px;

    content: "Read More";
    color: $accent-color;
  }
}

.actions {
  display: flex;
  gap: 8px;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $quinary-text-color;

  &:last-child {
    margin-left: auto;
  }

  .action-button {
    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: $primary-color;
  }

  .action-label {
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
  }
}

.action.like:active {
  color: $love-red;
  
  .action-button {
    background: $love-red;
    color: white;
  }
}

// Upload Button

#upload {
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;

  margin: auto;

  width: 64px;
  height: 64px;

  border-radius: 50%;

  background: opacity($accent-color, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  z-index: 1;
}

// Modal

#modalsContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  justify-content: center;
  align-items: center;

  background: #00000050;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  z-index: 2;

  &.active {
    display: flex;
  }
}

.modal {
  position: relative;
  display: none;
  box-sizing: border-box;
  width: 90vw;
  
  padding: 24px 16px;
  border-radius: 24px;

  background: $secondary-color;

  &.modal-active {
    display: block;
  }

  .modal-button {
    width: 100%;
    padding: 16px;
    
    margin-top: 16px;
    border-radius: 8px;

    color: white;
    background: $accent-color;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  .modal-title {
    font-size: 24px;
    font-weight: 600;
  }

  .modal-close {
    padding: 16px;

    border-radius: 50%;
    background: $primary-color;
  }
}

#createPost {
  .caption-input {
    overflow-y: auto;
    max-height: 200px;
    font-size: 14px;
    padding: 8px 0px;
    color: $secondary-text-color;
  }

  .caption-input:empty::before {
    font-style: italic;
    content: "What do you want to say?";
    color: $tertiary-text-color;
  }

  .caption-input:focus {
    outline: none;
  }
}

#previewPost {
  padding: 12px 8px;
  transition: 0.32s ease;

  animation-delay: 2s;

  &.dragging {
    transition: none;
  }

  $distanceFromElement: 32px;

  &::before,
  &::after {
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;

    font-size: 12px;
    font-weight: 600;
  }

  &::before {
    top: -$distanceFromElement;
    content: "Swipe Up to Publish";
  }
  
  &::after {
    bottom: -$distanceFromElement;
    content: "Swipe Down to Edit";
  }
}

.post-preview {
  .cover-container {
    border-radius: 16px;
  }

  .caption {
    margin-bottom: 0;
  }
}

.attachments-container {
  display: flex;
  gap: 6px;

  overflow-x: auto;
  padding-bottom: 8px;

  .attachment,
  .attach {
    min-width: 88px;
    height: 88px;
  
    border-radius: 16px;
  }

  .attachment {
    background: $primary-color;
  }

  .attach {
    background: transparent;
    border: 2px dashed $tertiary-text-color;
  }
}
